/*
1. The collection-preview class is used to style the collection preview component.
2. The title class is used to style the title of the collection.
3. The preview class is used to style the preview of the products.
4. The @media screen and (max-width: 800px) media query is used to style the preview of the products on mobile devices.
*/
.collection-preview {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;

	@media screen and (max-width: 800px) {
		align-items: center;
	}

	.title {
		font-size: 28px;
		margin-bottom: 25px;
	}

	.preview {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 800px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 15px;
		}
	}
}
