/*
1. It’s creating a new class called sign-in-and-sign-up.
2. It’s setting the width of the element to 850px.
3. It’s setting the display to flex.
4. It’s setting the justify-content to space-between.
5. It’s setting the margin to 30px auto.
*/
.sign-in-and-sign-up {
	width: 850px;
	display: flex;
	justify-content: space-between;
	margin: 30px auto;
}
