/*
1. It’s creating a class called directory-menu.
2. It’s setting the width of the menu to 100%.
3. It’s setting the display to flex.
4. It’s setting the flex-wrap to wrap.
5. It’s setting the justify-content to space-between.
*/
.directory-menu {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
